/*  your css code here. If applicable */
.container{
  text-align:center;
}

.grid{
	width:250px;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	margin:auto;
}
.grid div{
display:flex;
justify-content:center;
align-items:center;
border:1px solid black;
width:100px;
height:100px;
}
.board{
dispaly:none;
}